.Rproj.user
.Rhistory
.RData

# datasets
*.txt
*.tsv
!README.txt # don’t exclude README file
*.csv
*.dta
*.xlsx

# aux files
*.synctex.gz
*.run.xml
*.bib.blg
*.tmp-pdfcrop

# documents
*.html
*.pdf

# images
*.png
*.jpg

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user
